{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "charts/css/bootstrap-datetimepicker-standalone.css"%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div id="wrapper">
        {% include 'sidebar.html' %}
        <div id="page-content-wrapper">
            <div class="container-fluid">  
                <form action="PageObjects" method="post">
                    <select onchange="form.submit();">
                        <option selected="selected" disabled>Objects on page:</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </form>
                
                <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <input type='text' class="form-control" id='datetimepicker4' />
                            </div>
                            <script src = "{% static "charts/picker.js" %}"></script>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-8">
                        {{ line_chart.as_html }}
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" w>
                            <option>years</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                        <select class="form-control" w>
                            <option>month</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                        <select class="form-control" w>
                            <option>day</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                </div>
            </div>  
        </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src = "{% static "charts/js/moment.min.js" %}"></script>
        <script src = "{% static "charts/js/poper.js" %}"></script>
        <script src = "{% static "charts/js/bootstrap-datetimepicker.min.js" %}"></script>
        
    </body>
</html>

